<section class="hero hero-slider-wrapper">
	<div class="hero-slider hero-slider-style-1">
		<div class="slide">
			<img src="assets/images/slider/slide-1.jpg" alt class="slider-bg">
			<div class="container">
				<div class="row">
					<div class="col col-lg-8 col-sm-9 slide-caption">
						<h2>We provide the best <span>Industrial</span> Services worldwide</h2>
						<p>An unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
						<div class="btns">
							<a href="#" class="theme-btn">About us</a>
							<a href="#" class="theme-btn-s2">Explore</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="slide">
			<img src="assets/images/slider/slide-2.jpg" alt class="slider-bg">
			<div class="container">
				<div class="row">
					<div class="col col-lg-8 col-sm-9 slide-caption">
						<h2>We provide the best <span>Industrial</span> Services worldwide</h2>
						<p>An unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
						<div class="btns">
							<a href="#" class="theme-btn">About us</a>
							<a href="#" class="theme-btn-s2">Explore</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="slide">
			<img src="assets/images/slider/slide-3.jpg" alt class="slider-bg">
			<div class="container">
				<div class="row">
					<div class="col col-lg-8 col-sm-9 slide-caption">
						<h2>We provide the best <span>Industrial</span> Services worldwide</h2>
						<p>An unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
						<div class="btns">
							<a href="#" class="theme-btn">About us</a>
							<a href="#" class="theme-btn-s2">Explore</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>