
<h2 class="b-heading">Downloads</h2>

<ul class="b-blogList  b-down__list">
    <li class="b-down__item">
        <div class="b-down__desc">
                <div class="b-down__links">
                    <a class="b-down__link  b-down__link-pdf" href="#">pdf</a>
                    <a class="b-down__textLink" href="#">Download<i class="fa fa-download  b-down__icon"></i></a>
                </div>
            <div class="entry-body  b-blogList__text">
                <h3 class="b-blogList__heading">Document 1</h3>
                <p>
                    veritatis et quasi architecto beatae vitae dicta sunt explicabo.Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    veritatis et quasi architecto beatae vitae dicta sunt explicabo.Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                </p>
            </div>
        </div>
    </li>
    <li class="b-down__item">
        <div class="b-down__desc">
                <div class="b-down__links">
                    <a class="b-down__link  b-down__link-doc" href="#">doc</a>
                    <a class="b-down__textLink" href="#">Download<i class="fa fa-download  b-down__icon"></i></a>
                </div>
            <div class="entry-body  b-blogList__text">
                <h3 class="b-blogList__heading">Document 2</h3>
                <p>
                    veritatis et quasi architecto beatae vitae dicta sunt explicabo.Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    veritatis et quasi architecto beatae vitae dicta sunt explicabo.Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                </p>
            </div>
        </div>
    </li>
    <li class="b-down__item">
        <div class="b-down__desc">
                <div class="b-down__links">
                    <a class="b-down__link  b-down__link-xls" href="#">pdf</a>
                    <a class="b-down__textLink" href="#">Download<i class="fa fa-download  b-down__icon"></i></a>
                </div>
            <div class="entry-body  b-blogList__text">
                <h3 class="b-blogList__heading">Document 3</h3>
                <p>
                    veritatis et quasi architecto beatae vitae dicta sunt explicabo.Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    veritatis et quasi architecto beatae vitae dicta sunt explicabo.Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                </p>
            </div>
        </div>
    </li>
    <li class="b-down__item">
        <div class="b-down__desc">
                <div class="b-down__links">
                    <a class="b-down__link  b-down__link-doc" href="#">pdf</a>
                    <a class="b-down__textLink" href="#">Download<i class="fa fa-download  b-down__icon"></i></a>
                </div>
            <div class="entry-body  b-blogList__text">
                <h3 class="b-blogList__heading">Document 4</h3>
                <p>
                    veritatis et quasi architecto beatae vitae dicta sunt explicabo.Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    veritatis et quasi architecto beatae vitae dicta sunt explicabo.Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                </p>
            </div>
        </div>
    </li>
</ul>