<section class="b-features">
    <section class="b-features__row">
        <div class="b-features__col  b-features__col-text">
            <h2 class="b-features__heading  b-heading">Reactors</h2>
            <p class="b-features__text">
                TEEE manufactures everything from components to full systems. Lorem dolor sit amet, consecuteur adipiscing elit, seed do eisu mod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud excercitation
            </p>
            <div class="b-features__figureWrap">
                <figure class="b-features__figure">
                    <a class="b-features__link" data-lightbox="gal-reactors-re" href="assets/images/teee/z-index-gal-re-1.jpg"><img class="b-features__figImg" src="assets/images/teee/z-index-gal-re-1.jpg" alt=""></a>
                    <figcaption class="b-features__imgHead">Reactor</figcaption>
                </figure>
                <figure class="b-features__figure">
                    <a class="b-features__link" data-lightbox="gal-reactors-re" href="assets/images/teee/z-index-gal-re-2.jpg"><img class="b-features__figImg" src="assets/images/teee/z-index-gal-re-2.jpg" alt=""></a>
                    <figcaption class="b-features__imgHead">Shunt reactor</figcaption>
                </figure>
            </div>
        </div>
        <div class="b-features__col  b-features__col-img  b-features__col-1">
        </div>
    </section>
    <section class="b-features__row  b-features__row-reverse">
        <div class="b-features__col  b-features__col-text">
            <h2 class="b-features__heading  b-heading">Installation</h2>
            <p class="b-features__text">
                Provide easy to installation guide. Discuss easy to maintain as well .No matter your clients’ locations, no matter the geography. We test in the factory and in the field. Lorem dolor sit amet, consecuteur adipiscing elit, seed do eisu mod tempor.
            </p>
            <p class="b-features__text">
                Provide easy to installation guide. Discuss easy to maintain as well .No matter your clients’ locations, no matter the geography. We test in the factory and in the field. Lorem dolor sit amet, consecuteur adipiscing elit, seed do eisu mod tempor.
            </p>
            <ul class="b-features__list">
                <li class="b-features__item">
                    <span class="b-features__itemText">Bullet one: incidunt ut labore et </span>
                </li>
                <li class="b-features__item">
                    <span class="b-features__itemText">Bullet two: Dolore magna aliqua.</span>
                </li>
                <li class="b-features__item">
                    <span class="b-features__itemText">Bullet three: Ut enim ad minim veniam</span>
                </li>
            </ul>
        </div>
        <div class="b-features__col  b-features__col-img  b-features__col-2">
        </div>
    </section>
    <section class="b-features__row">
        <div class="b-features__col  b-features__col-text">
            <h2 class="b-features__heading  b-heading">Wiring / Cable</h2>
            <p class="b-features__text">
                TEEE manufacturers maintains its own wiring and cable manufacturing facility, and creates products and systems that enable clients to lorem dolor sit amet, consecuteur adipiscing elit, seed do eisu mod tempor
            </p>
            <ul class="b-features__list">
                <li class="b-features__item">
                    <span class="b-features__itemText">Bullet one: incidunt ut labore et </span>
                </li>
                <li class="b-features__item">
                    <span class="b-features__itemText">Bullet two: Dolore magna aliqua.</span>
                </li>
                <li class="b-features__item">
                    <span class="b-features__itemText">Bullet three: Ut enim ad minim veniam</span>
                </li>
            </ul>
            <div class="b-features__figureWrap">
                <figure class="b-features__figure">
                    <a class="b-features__link" data-lightbox="gal-reactors-wc" href="assets/images/teee/z-index-gal-re-1.jpg"><img class="b-features__figImg" src="assets/images/teee/z-index-gal-re-1.jpg" alt=""></a>
                    <figcaption class="b-features__imgHead">Reactor</figcaption>
                </figure>
                <figure class="b-features__figure">
                    <a class="b-features__link" data-lightbox="gal-reactors-wc" href="assets/images/teee/z-index-gal-re-2.jpg"><img class="b-features__figImg" src="assets/images/teee/z-index-gal-re-2.jpg" alt=""></a>
                    <figcaption class="b-features__imgHead">Shunt reactor</figcaption>
                </figure>
                <figure class="b-features__figure">
                    <a class="b-features__link" data-lightbox="gal-reactors-wc" href="assets/images/teee/z-index-gal-re-1.jpg"><img class="b-features__figImg" src="assets/images/teee/z-index-gal-re-1.jpg" alt=""></a>
                    <figcaption class="b-features__imgHead">Reactor</figcaption>
                </figure>
                <figure class="b-features__figure">
                    <a class="b-features__link" data-lightbox="gal-reactors-wc" href="assets/images/teee/z-index-gal-re-2.jpg"><img class="b-features__figImg" src="assets/images/teee/z-index-gal-re-2.jpg" alt=""></a>
                    <figcaption class="b-features__imgHead">Shunt reactor</figcaption>
                </figure>
                <figure class="b-features__figure">
                    <a class="b-features__link" data-lightbox="gal-reactors-wc" href="assets/images/teee/z-index-gal-re-1.jpg"><img class="b-features__figImg" src="assets/images/teee/z-index-gal-re-1.jpg" alt=""></a>
                    <figcaption class="b-features__imgHead">Reactor</figcaption>
                </figure>
            </div>
        </div>
        <div class="b-features__col  b-features__col-img  b-features__col-3">
        </div>
    </section>
    <section class="b-features__row  b-features__row-reverse">
        <div class="b-features__col  b-features__col-text">
            <h2 class="b-features__heading  b-heading">Manufacturing process</h2>
            <p class="b-features__text">
                Lorem dolor sit amet, consecuteur adipiscing elit, seed do eisu mod temporeur adipiscing elit, seed do eisu mod temporeur adipiscing elit, seed do eisu mod temporeur adipiscing elit, seed do eisu mod temporeur adipiscing elit, seed do eisu mod temporeur adipiscing elit, seed do eisu mod tempor
            </p>
            <div class="b-features__listWrap">
                <span class="b-features__listIcon"></span>
                <ul class="b-features__list  b-features__list-flex">
                    <li class="b-features__item  b-features__item-flex">
                        <span class="b-features__itemText  b-features__itemText-flex">Bullet one: incidunt ut labore et </span>
                    </li>
                    <li class="b-features__item  b-features__item-flex">
                        <span class="b-features__itemText  b-features__itemText-flex">Bullet two: Dolore magna aliqua.</span>
                    </li>
                    <li class="b-features__item  b-features__item-flex">
                        <span class="b-features__itemText  b-features__itemText-flex">Bullet three: Ut enim ad minim veniam</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="b-features__col  b-features__col-img  b-features__col-4">
        </div>
    </section>
    <section class="b-features__row">
            <div class="b-features__col  b-features__col-text">
                <h2 class="b-features__heading  b-heading">Shipping</h2>
                <p class="b-features__text">
                    The final crating and shipping of the completed reactors can be done in various ways, in order to meet all of the customer requirements. Reactors can be crated and shipped individually or consolidated into a container or on an open flat-rack. The weight and size of the reactors will also determine if loading and unloading can be done via forklift truck or by crane using appropriate shackles and slings. TEEE has a very unique geographic advantage since it is only 40 km away from amajor global seaport. This allows all international shipments to be done in a very timely and cost-effective basis.
                </p>
                
            </div>
            <div class="b-features__col  b-features__col-img  b-features__col-5">
            </div>
        </section>
</section>