<section class="section-padding offer-section">
        <div class="container">
            <div class="row">
                <div class="col col-md-5">
                    <div class="section-title-s3">
                        <h2 class="b-heading b-heading-range">Get full range of premium Industrial services for your business</h2>
                    </div>                        
                    <div class="offer-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisc ing elit, sed do eiusmod tempor inci didunt ut labore et dolore magna.</p>
                        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur</p>
                    </div>
                </div>
                <div class="col col-md-7">
                    <div class="offer-pic  ourTeam__imgWrap">
                        <img src="assets/images/offer-pic.jpg" alt>
                    </div>
                </div>
            </div> <!-- end row -->
        </div> <!-- end container -->
    </section>

    <section class="our-team our-team-bg section-padding  ourTeam__galSection">
            <div class="container">
                <div class="row">
                    <div class="col col-md-8 col-md-offset-2">
                        <div class="section-title-s5">
                            <h2 class="b-heading  b-heading-team">Our team</h2>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
                        </div>
                    </div>
                </div> <!-- end row -->

                <div class="ourTeam__galwrap">
                    //= ourteam-gal.html
                </div>
                
            </div> <!-- end container -->
        </section>