<section class="b-quality">
        <section class="b-quality__row  b-quality__row-main">
                <div class="b-quality__inner">
                    <div class="b-quality__col  b-quality__col-text">
                        <h2 class="b-heading  b-heading-qual">Start...</h2>
                        <p class="b-quality__text  b-quality__text-main">
                            Right from the start, TEEE is committed in providing all quotations and outline drawings within 3 working days and final approval drawings within one week.
                        </p>
                        <p class="b-quality__text  b-quality__text-main">
                            Whenever a new purchase contract is signed, TEEE provides relevant information on pre-design and manufacturing as soon as possible. This way, customers are able to review and agree upon timing and manufacturing details before the process starts.
                        </p>
                    </div>
                    <div class="b-quality__col">
                        <div class="b-quality__imgWrap">
                            <img class="b-quality__img" src="assets/images/teee/quality-img-1.png" alt="">
                        </div>
                    </div>
                </div>
            </section>

            <section class="b-quality__row  b-quality__row-main">
                <div class="b-quality__inner">
                    <div class="b-quality__col">
                        <div class="b-quality__imgWrap">
                            <img class="b-quality__img" src="assets/images/teee/quality-img-2.jpg" alt="">
                        </div>
                    </div>
                    <div class="b-quality__col  b-quality__col-text">
                        <h2 class="b-heading  b-heading-qual">Progress...</h2>
                        <p class="b-quality__text  b-quality__text-main">
                           Production updates are provided on a regular basis during the manufacturing and testing processes.
                        </p>
                        <p class="b-quality__text  b-quality__text-main">
                            We keep complete records regarding product quality and will do periodic quality checks so that any existing problems can be discovered and resolved quickly. Our main goal is to assure effective reactor operation and maintenance.
                        </p>
                    </div>
                </div>
        </section>
    
        <section class="b-quality__row  b-quality__row-main">
            <div class="b-quality__inner">
                <div class="b-quality__col  b-quality__col-text">
                    <h2 class="b-heading  b-heading-qual">Finish...</h2>
                    <p class="b-quality__text  b-quality__text-main">
                        Although our product operates maintenance free, we place a strong emphasis on after-sale service, because your satisfaction always matters -- even after our product is delivered and in your hands. Our warranty program is meant to eliminate some of the stress that could come from quality concerns. Within that warranty period, we will either return or replace defective products that we are responsible for, and actively assist you to resolve any problems we can. We know you need to get things up and running quickly!
                    </p>
                    <p class="b-quality__text  b-quality__text-main">
                        If you need assistance with problem-solving, TEEE’s Chief Engineer and technical experts will lead the team to provide on-site technical support for installation, as well as debugging of major equipment.
                    </p>
                </div>
                <div class="b-quality__col">
                    <div class="b-quality__imgWrap">
                        <img class="b-quality__img" src="assets/images/teee/quality-img-3.png" alt="">
                    </div>
                </div>
            </div>
        </section>
    
        <section class="b-quality__row  b-quality__row-main">
            <div class="b-quality__inner">
                <div class="b-quality__col">
                    <div class="b-quality__imgWrap">
                        <img class="b-quality__img" src="assets/images/teee/quality-img-4.png" alt="">
                    </div>
                </div>
                <div class="b-quality__col  b-quality__col-text">
                    <h2 class="b-heading">Customer service</h2>
                    <p class="b-quality__text  b-quality__text-main">
                        At TEEE, we work hard to meet our customers’ needs and requests. We place a high level of priority on customer inquiries, whether they have to do with technology or quality or any other concern. And, we do our best to respond in a timely manner.
                    </p>
                </div>
            </div>
        </section>

    //= quality-slider.html

</section>