<section class="contact-pg-section section-padding  b-formWrap">
        <div class="container">
            <h2 class="b-heading  b-heading-form">Contact Us</h2>
            <form class="b-form  contact-form form contact-validation-active row" id="contact-form-s2">
    
                <div class="col col-sm-6  b-form__inputWrap">
                    <label class="b-form__label  required" for="f-name">First Name</label>
                    <input class="b-form__input  form-control" type="text" id="f-name" name="f_name" required>
                </div>
                <div class="col col-sm-6  b-form__inputWrap">
                    <label class="b-form__label  required" for="l-name">Last Name</label>
                    <input class="b-form__input  form-control" type="text" id="l-name" name="l_name" required>
                </div>
            
                <div class="col col-sm-6  b-form__inputWrap">
                    <label class="b-form__label" for="title">Title</label>
                    <input class="b-form__input  form-control" type="text" id="title" name="title">
                </div>
                <div class="col col-sm-6  b-form__inputWrap">
                    <label class="b-form__label  required" for="company">Company</label>
                    <input class="b-form__input  form-control" type="text" id="company" name="company" required>
                </div>
            
                <div class="col col-sm-6  b-form__inputWrap">
                    <label class="b-form__label  required" for="email">Email</label>
                    <input class="b-form__input  form-control" type="email" id="email" name="email" required>
                </div>
                <div class="col col-sm-6  b-form__inputWrap">
                    <label class="b-form__label" for="phone">Phone</label>
                    <input class="b-form__input  form-control" type="text" id="phone" name="phone">
                </div>
            
                <div class="col col-sm-12  b-form__inputWrap">
                    <label class="b-form__label  required" for="country">Country</label>
                    <input class="b-form__input  form-control" type="text" id="country" name="country" required>
                </div>
            
                <div class="col col-sm-12  b-form__inputWrap">
                    <label class="b-form__label" for="message">Comments</label>
                    <textarea class="b-form__input  b-form__area  form-control" id="message" name="note"></textarea>
                </div>
            
                <div class="col col-sm-12 submit-btn  b-form__inputWrap">
                    <button class="theme-btn">Submit</button>
                    <div id="loader">
                        <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
                    </div>
                </div>
            
                <div class="error-handling-messages">
                    <div id="success">Thank you</div>
                    <div id="error"> Error occurred while sending email. Please try again later. </div>
                </div>
            </form>
        </div>
    </section>