<footer class="site-footer">
    <div class="upper-footer">
        <div class="container">
            
            <div class="site-footer__wrap">
                <div class="site-footer__block site-footer__logo">
                    <a href="TEEE-index.html" class="footer-logo">
                        <img src="assets/images/teee/teee-logo_white.svg" alt="TEEE">
                    </a>
                </div>
                
                <div class="site-footer__block site-footer__nav widget">
                    <h3>Navigation</h3>
                    
                    <div class="site-footer__cols site-footer__cols_sm quick-links-widget">
                        <ul>
                            <li><a href="TEEE-index.html">Home</a></li>
                            <li><a href="ourteam.html">Our Team</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                        <ul>
                            <li><a href="products.html">Products</a></li>
                            <li><a href="quality.html">Quality</a></li>
                            <li><a href="downloads.html">Downloads</a></li>
                            <li><a href="blog.html">News</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="site-footer__block site-footer__contact widget">
                    <h3>Transmission Electrical Energy Equipment</h3>
                    
                    <div class="about-widget site-footer__cols site-footer__cols_st">
                        <ul class="contact-info">
                            <li><i class="fa fa-home"></i>25 S Grove Avenue, Elgin, IL 60120</li>
                            <li>
                                <i class="fa fa-phone"></i> 
                                <div>
                                    US: <a href="tel:+8475320193">(847) 532-0193</a>
                                </div>
                                <div>
                                    CANADA: <a href="tel:+8475320193">(1) XXX-XXXX</a>
                                </div>
                            </li>
                        </ul>
                        
                        <ul class="contact-info">
                            <li>
                                <i class="fa fa-envelope"></i> 
                                <a href="mailto:info@teee-inductors.com">info@teee-inductors.com</a>
                            </li>
                            <li>
                                <i class="fa fa-globe"></i> 
                                <a href="#">www.teee-inductors.com</a>
                            </li>
                            
                            <li class="site-footer__socials">
                                <div class="social-list  social-list_footer">
                                    <div><a href="https://www.facebook.com/groups/2059655367612098/" target="_blank"><i class="fa fa-facebook"></i></a></div>
                                    <div><a href="https://www.pinterest.com/calebjonathan4078" target="_blank"><i class="fa fa-pinterest"></i></a></div>
                                    <div><a href="https://www.instagram.com/teeereactorsandwire/" target="_blank"><i class="fa fa-instagram"></i></a></div>
                                    <div><a href="#" target="_blank"><i class="fa fa-rss"></i></a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- end container -->
    </div> <!-- end upper-footer -->
    <div class="copyright-info">
        <div class="container">
            <p>2018 &copy; All Rights Reserved by <a href="TEEE-index.html">TEEE</a></p>
        </div>
    </div>
</footer>