<header id="header" class="site-header site-header_rel header-style-6">
    <div class="topbar topbar-style-2">
        <div class="container">
            <div class="row">
                <div class="col col-sm-12">
                    <div class="social-list social-list_header">
                        <div><a href="https://www.facebook.com/groups/2059655367612098/" target="_blank"><i class="fa fa-facebook"></i></a></div>
                        <div><a href="https://www.pinterest.com/calebjonathan4078" target="_blank"><i class="fa fa-pinterest"></i></a></div>
                        <div><a href="https://www.instagram.com/teeereactorsandwire/" target="_blank"><i class="fa fa-instagram"></i></a></div>
                        <div><a href="#" target="_blank"><i class="fa fa-rss"></i></a></div>
                    </div>
                </div>
            </div>
        </div> <!-- end container -->
    </div> <!-- end topbar -->

    <nav class="navigation navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="open-btn">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="TEEE-index.html" class="site-logo site-logo_main">
                    <img class="blogLogo" src="assets/images/teee/teee-logo.svg" alt="TEEE">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right navigation-holder">
                <button class="close-navbar"><i class="fa fa-close"></i></button>
                <ul class="nav navbar-nav navbar-nav_bt">
                    <li><a href="TEEE-index.html">Home</a></li>
                    <li><a href="ourteam.html">Our Team</a></li>
                    <li><a href="products.html">Products</a></li>
                    <li><a href="quality.html">Quality</a></li>
                    <li><a href="downloads.html">Downloads</a></li>
                    <!-- <li><a href="blog.html">News</a></li> -->
                    
						<li class="menu-item-has-children">
							<a href="blog.html">News</a>
							<ul class="sub-menu">
								<li><a href="blog-2.html">News 2</a></li>
								<li><a href="blog-inner-page.html">News inner page</a></li>
							</ul>
						</li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div><!-- end of nav-collapse -->
        </div><!-- end of container -->
    </nav> <!-- end navigation -->
</header>