<!-- <section class="hero hero-slider-wrapper  b-qualitySlider  b-ourTeam__slider">
        <div class="hero-slider hero-slider-style-1">
            <div class="slide">
                <img src="assets/images/slider/z-quality-slide-1.jpg" alt class="slider-bg">
                <div class="container">
                    <div class="row">
                        <div class="col col-lg-8 col-sm-9 slide-caption">
                            <p class="b-qualitySlider__text">
                                Our team
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>Our team</h2>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>