<ul class="team-grids  ourTeam__gal">
    <li class="team-grid  ourTeam__item">
            <div class="member-pic-social square-hover-effect-parent">
                <!-- <div class="square-hover-effect">
                    <span class="hover-1"></span>
                    <span class="hover-2"></span>
                    <span class="hover-3"></span>
                    <span class="hover-4"></span>
                </div> -->
                <div class="member-pic">
                    <img src="assets/images/team/img-1.jpg" alt>
                </div>
                <!-- <div class="social">
                    <ul class="social-links">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div> -->
            </div>
            <div class="member-info">
                <h3>Malcolm Marshall</h3>
                <p>Director of the board</p>
            </div>
    </li>
    <li class="team-grid ourTeam__item">
        <div class="member-pic-social square-hover-effect-parent">
                <!-- <div class="square-hover-effect">
                    <span class="hover-1"></span>
                    <span class="hover-2"></span>
                    <span class="hover-3"></span>
                    <span class="hover-4"></span>
                </div> -->
                <div class="member-pic">
                    <img src="assets/images/team/img-2.jpg" alt>
                </div>
                <!-- <div class="social">
                    <ul class="social-links">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div> -->
        </div>
        <div class="member-info">
            <h3>Stephen King</h3>
            <p>Director of the board</p>
        </div>
    </li>
    <li class="team-grid ourTeam__item">
            <div class="member-pic-social square-hover-effect-parent">
                <!-- <div class="square-hover-effect">
                    <span class="hover-1"></span>
                    <span class="hover-2"></span>
                    <span class="hover-3"></span>
                    <span class="hover-4"></span>
                </div> -->
                <div class="member-pic">
                    <img src="assets/images/team/img-3.jpg" alt>
                </div>
                <!-- <div class="social">
                    <ul class="social-links">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div> -->
            </div>
            <div class="member-info">
                <h3>Michelle Conroy</h3>
                <p>Director of the board</p>
            </div>
    </li>
    <li class="team-grid  ourTeam__item">
            <div class="member-pic-social square-hover-effect-parent">
                <!-- <div class="square-hover-effect">
                    <span class="hover-1"></span>
                    <span class="hover-2"></span>
                    <span class="hover-3"></span>
                    <span class="hover-4"></span>
                </div> -->
                <div class="member-pic">
                    <img src="assets/images/team/img-1.jpg" alt>
                </div>
                <!-- <div class="social">
                    <ul class="social-links">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div> -->
            </div>
            <div class="member-info">
                <h3>Malcolm Marshall</h3>
                <p>Director of the board</p>
            </div>
    </li>
    <li class="team-grid ourTeam__item">
        <div class="member-pic-social square-hover-effect-parent">
                <!-- <div class="square-hover-effect">
                    <span class="hover-1"></span>
                    <span class="hover-2"></span>
                    <span class="hover-3"></span>
                    <span class="hover-4"></span>
                </div> -->
                <div class="member-pic">
                    <img src="assets/images/team/img-2.jpg" alt>
                </div>
                <!-- <div class="social">
                    <ul class="social-links">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div> -->
        </div>
        <div class="member-info">
            <h3>Stephen King</h3>
            <p>Director of the board</p>
        </div>
    </li>
    <li class="team-grid ourTeam__item">
            <div class="member-pic-social square-hover-effect-parent">
                <!-- <div class="square-hover-effect">
                    <span class="hover-1"></span>
                    <span class="hover-2"></span>
                    <span class="hover-3"></span>
                    <span class="hover-4"></span>
                </div> -->
                <div class="member-pic">
                    <img src="assets/images/team/img-3.jpg" alt>
                </div>
                <!-- <div class="social">
                    <ul class="social-links">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div> -->
            </div>
            <div class="member-info">
                <h3>Michelle Conroy</h3>
                <p>Director of the board</p>
            </div>
    </li>
    <li class="team-grid  ourTeam__item">
            <div class="member-pic-social square-hover-effect-parent">
                <!-- <div class="square-hover-effect">
                    <span class="hover-1"></span>
                    <span class="hover-2"></span>
                    <span class="hover-3"></span>
                    <span class="hover-4"></span>
                </div> -->
                <div class="member-pic">
                    <img src="assets/images/team/img-1.jpg" alt>
                </div>
                <!-- <div class="social">
                    <ul class="social-links">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div> -->
            </div>
            <div class="member-info">
                <h3>Malcolm Marshall</h3>
                <p>Director of the board</p>
            </div>
    </li>
    <li class="team-grid ourTeam__item">
        <div class="member-pic-social square-hover-effect-parent">
                <!-- <div class="square-hover-effect">
                    <span class="hover-1"></span>
                    <span class="hover-2"></span>
                    <span class="hover-3"></span>
                    <span class="hover-4"></span>
                </div> -->
                <div class="member-pic">
                    <img src="assets/images/team/img-2.jpg" alt>
                </div>
                <!-- <div class="social">
                    <ul class="social-links">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div> -->
        </div>
        <div class="member-info">
            <h3>Stephen King</h3>
            <p>Director of the board</p>
        </div>
    </li>
    <li class="team-grid ourTeam__item">
            <div class="member-pic-social square-hover-effect-parent">
                <!-- <div class="square-hover-effect">
                    <span class="hover-1"></span>
                    <span class="hover-2"></span>
                    <span class="hover-3"></span>
                    <span class="hover-4"></span>
                </div> -->
                <div class="member-pic">
                    <img src="assets/images/team/img-3.jpg" alt>
                </div>
                <!-- <div class="social">
                    <ul class="social-links">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div> -->
            </div>
            <div class="member-info">
                <h3>Michelle Conroy</h3>
                <p>Director of the board</p>
            </div>
    </li>
</ul>