<section class="hero hero-slider-wrapper">
    <div class="hero-slider hero-slider-style-1">
        <div class="slide">
            <img src="assets/images/slider/z-quality-slide-1.jpg" alt class="slider-bg">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-8 col-sm-9 slide-caption">
                        <h2>Custom Engineered Reactor Solutions</h2>
                        <p>Engineered. Manufactured. Factory & Field Tested.</p>
                        <div class="btns">
                            <a href="#" class="theme-btn">View our products</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>