<section class="contact-pg-section section-padding  b-formWrap">
    <div class="container">
        <h2 class="b-heading  b-heading-form">Worked with us? Leave your feedback about any experience you've had with us!</h2>
        <p class="b-formWrap__text">
            Finally, we aim to gather feedback from you about any experiences you’ve had with us - any repair issues, quality issues, or shipping issues. It matters to us that we adapt and grow in our own abilities to serve you and keep providing the best, most competitively-priced products to you. We are most satisfied when you, the customer, are satisfied. Help us… help you!
        </p>
        <form class="b-form  contact-form form contact-validation-active row" id="contact-form-s2">

            <div class="col col-sm-6  b-form__inputWrap">
                <label class="b-form__label  required" for="f-name">Name</label>
                <input class="b-form__input  form-control" type="text" id="f-name" name="f_name" required>
            </div>

            <div class="col col-sm-6  b-form__inputWrap">
                <label class="b-form__label  required" for="company">Company</label>
                <input class="b-form__input  form-control" type="text" id="company" name="company" required>
            </div>
        
            <div class="col col-sm-12  b-form__inputWrap">
                <label class="b-form__label  required" for="email">Email</label>
                <input class="b-form__input  form-control" type="email" id="email" name="email" required>
            </div>
        
            <div class="col col-sm-12  b-form__inputWrap">
                <label class="b-form__label" for="message">Message</label>
                <textarea class="b-form__input  b-form__area  form-control" id="message" name="note"></textarea>
            </div>
        
            <div class="col col-sm-12 submit-btn  b-form__inputWrap">
                <button class="theme-btn">Submit</button>
                <div id="loader">
                    <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
                </div>
            </div>
        
            <div class="error-handling-messages">
                <div id="success">Thank you</div>
                <div id="error"> Error occurred while sending email. Please try again later. </div>
            </div>
        </form>
    </div>
</section>