<section class="b-quality__row  b-quality__row-slider">
    <div class="b-quality__inner  b-quality__inner-slider">
        <h2 class="b-heading  b-heading-slider  b-heading-qual">Feedback from our customers</h2>
        <div class="qualSlider  b-quality__slider">
            <div class="qualSlider__slide">
                <p class="qualSlider__text">
                    Finally, we aim to gather feedback from you about any experiences you’ve had with us - any repair issues, quality issues, or shipping issues. It matters to us that we adapt and grow in our own abilities to serve you and keep providing the best, most competitively-priced products to you. We are most satisfied when you, the customer, are satisfied. Help us… help you!
                </p>
                <div class="qualSlider__user">
                    <div class="qualSlider__avatar">
                        <img class="qualSlider__img" src="assets/images/slider/qual-slide-avater-1.png" alt="">
                    </div>
                    <div class="qualSlider__userText">
                        <b class="qualSlider__name">Danny Boyles</b>
                        <span class="qualSlider__info">Director of Boards, Machinima</span>
                    </div>
                </div>
            </div>
            <div class="qualSlider__slide">
                <p class="qualSlider__text">
                    Finally, we aim to gather feedback from you about any experiences you’ve had with us - any repair issues, quality issues, or shipping issues. It matters to us that we adapt and grow in our own abilities to serve you and keep providing the best, most competitively-priced products to you. We are most satisfied when you, the customer, are satisfied. Help us… help you!
                </p>
                <div class="qualSlider__user">
                    <div class="qualSlider__avatar">
                        <img class="qualSlider__img" src="assets/images/slider/qual-slide-avater-1.png" alt="">
                    </div>
                    <div class="qualSlider__userText">
                        <b class="qualSlider__name">Danny Boyles</b>
                        <span class="qualSlider__info">Director of Boards, Machinima</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>