<section class="hero hero-slider-wrapper  b-qualitySlider">
    <div class="hero-slider hero-slider-style-1">
        <div class="slide">
            <img src="assets/images/slider/z-quality-slide-1.jpg" alt class="slider-bg">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-8 col-sm-9 slide-caption">
                        <p class="b-qualitySlider__text">
                            A high level of priority on customer inquiries...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>