<section class="b-qualContacts">
    <div class="b-quality__inner  b-quality__inner-contacts">
        <div class="b-qualContacts__icon">

        </div>
        <div class="b-qualContacts__wrap">
            <p class="b-qualContacts__text">
                TEEE operates on the principle of “Quality First, Customer First”. TEEE will respond to all customer calls. TEEE is committed to provide a clear response in 12 hours upon receipt of a customer issue. If required, TEEE will provide the quickest on-site support possible.
            </p>
            <p class="b-qualContacts__text">
                <a class="b-qualContacts__item" href="tel:+8475320193">(847) 532-0193</a>
                <a class="b-qualContacts__item" href="mailto:info@teee-inductors.com">info@teee-inductors.com</a>
            </p>
        </div>
    </div>
</section>