<section class="features section-padding">
	<div class="container">
		<div class="row">
				<h2 class="b-heading  b-heading-aboutUs">Why choose TEEE?</h2>
				<p class="b-index__aboutUsText">With turnaround & shipping times that are far shorter than our competitors, Transmission Electrical Energy Equipment (TEEE) maintains a competitive edge; and is committed to manufacturing and delivering worldwide the highest quality engineered equipment that is truly customized for each of our demanding clients’ needs.</p>
		</div> <!-- end row -->

		<div class="features-grid-s5  index__iconList">
			<div class="feature-grid  index__iconItem">
				<div class="icon  index__icon  index__icon-1">
				</div>
				<div class="details">
					<h3>NEWEST, LARGEST HIGH CAPACITY MANUFACTURING FACILITY</h3>
				</div>
			</div>

			<div class="feature-grid  index__iconItem">
				<div class="icon  index__icon  index__icon-2">
				</div>
				<div class="details">
					<h3>WORLD-CLASS ENGINEERING KNOW-HOW</h3>
				</div>
			</div>

			<div class="feature-grid  index__iconItem">
				<div class="icon  index__icon  index__icon-3">
				</div>
				<div class="details">
					<h3>RAPID LEAD TIME AND SHIPPING WORLDWIDE</h3>
				</div>
			</div>

			<div class="feature-grid  index__iconItem">
				<div class="icon  index__icon  index__icon-4">
				</div>
				<div class="details">
					<h3>IN-HOUSE PRODUCT AND COMPONENT TESTING</h3>
				</div>
			</div>

			<div class="feature-grid  index__iconItem">
				<div class="icon  index__icon  index__icon-5">
				</div>
				<div class="details">
					<h3>VERTICAL PRODUCT INTEGRATION</h3>
				</div>
			</div>

			<div class="feature-grid  index__iconItem">
				<div class="icon  index__icon  index__icon-6">
				</div>
				<div class="details">
					<h3>EXCELLENT CUSTOMER SERVICE</h3>
				</div>
			</div>
		</div><!-- end row -->
	</div> <!-- end container -->
</section>