<section class="section-padding contact-section  parallax certification" data-bg-image="assets/images/certif-section-bg.JPG">

	<div class="certification__content container">
		<div class="certification__txt">
			<p>TEEE is proud to provide world-class manufacturing of electrical energy equipment.  With our strong focus on quality, we stand behind our products, our equipment, and our service.  More importantly, our credentials stand behind us.  With certifications in occupational health and safety management, environment management, and quality management systems, TEEE maintains its identity as an ISO certified company, complying with ANSI and IEEE standards.</p>
		</div>

		<a class="certification__img img-miniature __js-img-miniature" href="assets/images/teee/teee-certificat.png">
			<img src="assets/images/teee/teee-certificat.png" alt="">
		</a>
	</div>
</section>