<section class="recent-projects offer-section_dark section-padding">
	<div class="container">
		<div class="row">
			<div class="col col-lg-8 col-lg-offset-2">
				<div class="section-title-s2">
					<h2>Tour Our Factory</h2>
				</div>
			</div>
		</div> <!-- end row -->
	</div> <!-- end container -->

	<div class="container">
		<div class="row">
			<div class="col col-xs-12">
				//= factory-slider.html
			</div>
		</div> <!-- end row slider -->
	</div>

	<div class="section-padding_top">
		<div class="container">

			<!-- factory block #1-->
			<div id="factory_01" class="simpletab __js-simpletab-factory show">
				<div class="row">
					<div class="col col-md-6">
						//= ../../components/index-fac-video.html
					</div>
	
					<div class="col col-md-6">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
						<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
	
						<ul class="ul">
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- end of factory block #1-->

			<!-- factory block #2-->
			<div id="factory_02" class="simpletab __js-simpletab-factory">
				<div class="row">
					<div class="col col-md-6">
						//= ../../elements/video.html
					</div>
	
					<div class="col col-md-6">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
	
						<ul class="ul">
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- end of factory block #2-->

			<!-- factory block #3-->
			<div id="factory_03" class="simpletab __js-simpletab-factory">
					<div class="row">
						<div class="col col-md-6">
							//= ../../elements/video.html
						</div>
		
						<div class="col col-md-6">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
							<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
		
							<ul class="ul">
								<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
							</ul>
						</div>
					</div>
			</div>
			<!-- end of factory block #3-->

			<!-- factory block #4-->
			<div id="factory_04" class="simpletab __js-simpletab-factory">
					<div class="row">
						<div class="col col-md-6">
							//= ../../elements/video.html
						</div>
		
						<div class="col col-md-6">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
							<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
		
							<ul class="ul">
								<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
							</ul>
						</div>
					</div>
			</div>
			<!-- end of factory block #4-->

		</div> <!-- end container -->
	</div>
	
</section>