<div class="team-slider team-slider_factory team-grids">
	<div class="team-grid">
		<div class="member-pic-social square-hover-effect-parent  factorySlider__item">
			<div class="square-hover-effect">
				<span class="hover-1"></span>
				<span class="hover-2"></span>
				<span class="hover-3"></span>
				<span class="hover-4"></span>
			</div>
			<div class="member-pic  factorySlider__imgWrap">
				<img src="assets/images/teee/gallery-fac-1.jpg" alt>
			</div>

			<a class="factorySlider__overLink" data-lightbox="gallery-factory" href="assets/images/teee/gallery-fac-1.jpg">
				<h3 class="factorySlider__heading">Factory item name #1</h3>
			</a>
		</div>
	</div>

	<div class="team-grid">
		<div class="member-pic-social square-hover-effect-parent  factorySlider__item">
			<div class="square-hover-effect">
				<span class="hover-1"></span>
				<span class="hover-2"></span>
				<span class="hover-3"></span>
				<span class="hover-4"></span>
			</div>
			<div class="member-pic  factorySlider__imgWrap">
				<img src="assets/images/teee/gallery-fac-2.jpg" alt>
			</div>

			<a class="factorySlider__overLink" data-lightbox="gallery-factory" href="assets/images/teee/gallery-fac-2.jpg">
				<h3 class="factorySlider__heading">Factory item name #2</h3>
			</a>
		</div>
	</div>

	<div class="team-grid">
		<div class="member-pic-social square-hover-effect-parent  factorySlider__item">
			<div class="square-hover-effect">
				<span class="hover-1"></span>
				<span class="hover-2"></span>
				<span class="hover-3"></span>
				<span class="hover-4"></span>
			</div>
			<div class="member-pic  factorySlider__imgWrap">
				<img src="assets/images/teee/gallery-fac-3.jpg" alt>
			</div>

			<a class="factorySlider__overLink" data-lightbox="gallery-factory" href="assets/images/teee/gallery-fac-3.jpg">
				<h3 class="factorySlider__heading">Factory item name #3</h3>
			</a>
		</div>
	</div>

	<div class="team-grid">
		<div class="member-pic-social square-hover-effect-parent  factorySlider__item">
			<div class="square-hover-effect">
				<span class="hover-1"></span>
				<span class="hover-2"></span>
				<span class="hover-3"></span>
				<span class="hover-4"></span>
			</div>
			<div class="member-pic  factorySlider__imgWrap">
				<img src="assets/images/teee/gallery-fac-4.jpg" alt>
			</div>

			<a class="factorySlider__overLink" data-lightbox="gallery-factory" href="assets/images/teee/gallery-fac-4.jpg">
				<h3 class="factorySlider__heading">Factory item name #4</h3>
			</a>
		</div>
	</div>
</div>