<footer class="site-footer">
	<div class="upper-footer">
		<div class="container">
			
			<div class="site-footer__wrap">
				<div class="site-footer__block site-footer__logo">
					<a href="teee-index.html" class="footer-logo">
						<img src="assets/images/teee/teee-logo.svg" alt="TEEE">
					</a>
					
					<!-- <div class="social-list social-list_footer">
						<div><a href="#"><i class="fa fa-facebook"></i></a></div>
						<div><a href="#"><i class="fa fa-twitter"></i></a></div>
						<div><a href="#"><i class="fa fa-linkedin"></i></a></div>
						<div><a href="#"><i class="fa fa-pinterest"></i></a></div>
						<div><a href="#"><i class="fa fa-rss"></i></a></div>
					</div> -->
				</div>
				
				<div class="site-footer__block site-footer__nav widget">
					<h3>Navigation</h3>
					
					<div class="site-footer__cols site-footer__cols_sm quick-links-widget">
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">Our Team</a></li>
							<li><a href="#">Contact</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
						<ul>
							<li><a href="#">Products</a></li>
							<li><a href="#">Quality</a></li>
							<li><a href="#">Downloads</a></li>
							<li><a href="#">News</a></li>
						</ul>
					</div>
				</div>
				
				<div class="site-footer__block site-footer__contact widget">
					<h3>Transmission Electrical Energy Equipment</h3>
					
					<div class="about-widget site-footer__cols site-footer__cols_st">
						<ul class="contact-info">
							<li><i class="fa fa-home"></i> 23 South Grove Avenue Elgin, IL 60120 USA</li>
							<li>
								<i class="fa fa-phone"></i> 
								<div>
									US: <a href="tel:+18475320193">(847) 532-0193</a>
								</div>
								<div>
									CANADA: <a href="tel:+18475320193">(1) XXX-XXXX</a>
								</div>
							</li>
						</ul>
						
						<ul class="contact-info">
							<li>
								<i class="fa fa-envelope"></i> 
								<a href="mailto:info@teee-inductors.com">info@teee-inductors.com</a>
							</li>
							<li>
								<i class="fa fa-globe"></i> 
								<a href="#">www.teee-inductors.com</a>
							</li>
							
							<li class="site-footer__socials">
								<div class="social-list social-list_footer">
									<div><a href="#"><i class="fa fa-facebook"></i></a></div>
									<div><a href="#"><i class="fa fa-twitter"></i></a></div>
									<div><a href="#"><i class="fa fa-linkedin"></i></a></div>
									<div><a href="#"><i class="fa fa-pinterest"></i></a></div>
									<div><a href="#"><i class="fa fa-rss"></i></a></div>
								</div>
							</li>
						</ul>
					</div>
					
					
				</div>
			</div> <!-- end site-footer__wrap -->
			
			
			
			
			
			<!-- 
			<div class="row">
				<div class="col col-md-3 col-sm-6">
					<div class="footer-logo"><img src="assets/images/teee/teee-logo_white.svg" alt="TEEE"></div>
				</div>

				<div class="col col-md-6 col-sm-6">
					<div class="widget quick-links-widget">
						<h3>Navigation</h3>
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">Our Team</a></li>
							<li><a href="#">Contact</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
						<ul>
							<li><a href="#">Products</a></li>
							<li><a href="#">Quality</a></li>
							<li><a href="#">Downloads</a></li>
							<li><a href="#">News</a></li>
						</ul>
					</div>
				</div>

				<div class="col col-md-3 col-sm-12">
					<div class="widget about-widget">
						<h3>Transmission Electrical Energy Equipment</h3>
						<ul class="contact-info">
							<li><i class="fa fa-home"></i> 23 South Grove Avenue Elgin, IL 60120 USA</li>
							<li>
								<i class="fa fa-phone"></i> 
								<div>
									US: <a href="tel:+18475320193">(847) 532-0193</a>
								</div>
								<div>
									CANADA: <a href="tel:+18475320193">(1) XXX-XXXX</a>
								</div>
							</li>
							<li>
								<i class="fa fa-envelope"></i> 
								<a href="mailto:info@teee-inductors.com">info@teee-inductors.com</a>
							</li>
							<li>
								<i class="fa fa-globe"></i> 
								<a href="#">www.teee-inductors.com</a>
							</li>
						</ul>

						<div class="social-list social-list_footer">
							<div><a href="#"><i class="fa fa-facebook"></i></a></div>
							<div><a href="#"><i class="fa fa-twitter"></i></a></div>
							<div><a href="#"><i class="fa fa-linkedin"></i></a></div>
							<div><a href="#"><i class="fa fa-pinterest"></i></a></div>
							<div><a href="#"><i class="fa fa-rss"></i></a></div>
						</div>
					</div>
				</div>
			</div>
			-->
		</div> <!-- end container -->
	</div> <!-- end upper-footer -->
	<div class="copyright-info">
		<div class="container">
			<p>2018 &copy; All Rights Reserved by <a href="#">TEEE</a></p>
		</div>
	</div>
</footer>
