<header id="header" class="site-header site-header_rel header-style-6">
	<div class="topbar topbar-style-2">
		<div class="container">
			<div class="row">
				<div class="col col-sm-9">
					<div class="social-list social-list_header">
						<div><a href="#"><i class="fa fa-facebook"></i></a></div>
						<div><a href="#"><i class="fa fa-twitter"></i></a></div>
						<div><a href="#"><i class="fa fa-linkedin"></i></a></div>
						<div><a href="#"><i class="fa fa-pinterest"></i></a></div>
						<div><a href="#"><i class="fa fa-rss"></i></a></div>
					</div>
				</div>
				<div class="col col-sm-3">
					<div class="get-quote get-quote_head">
						//= ../../forms/search.html
					</div>
				</div>
			</div>
		</div> <!-- end container -->
	</div> <!-- end topbar -->

	<nav class="navigation navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="open-btn">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="teee-index.html" class="site-logo site-logo_main">
					<img src="assets/images/teee/teee-logo.svg" alt="TEEE">
				</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse navbar-right navigation-holder">
				<button class="close-navbar"><i class="fa fa-close"></i></button>
				<ul class="nav navbar-nav navbar-nav_bt">
					<li><a href="teee-index.html">Home</a></li>
					<li><a href="#">Our Team</a></li>
					<li><a href="#">Products</a></li>
					<li><a href="#">Quality</a></li>
					<li><a href="#">Downloads</a></li>
					<li class="menu-item-has-children">
						<a href="#">News</a>
						<ul class="sub-menu">
							<li><a href="#">RSS Feed</a></li>
							<li><a href="#">Tradeshows</a></li>
							<li><a href="#">Events</a></li>
							<li><a href="#">Blog</a></li>
						</ul>
					</li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div><!-- end of nav-collapse -->
		</div><!-- end of container -->
	</nav> <!-- end navigation -->
</header>
