<section class="hero hero-slider-wrapper">
	<div class="hero-slider hero-slider-style-1">
		<div class="slide">
			<img src="assets/images/teee/TEEE-home-page-photo.jpg" alt class="slider-bg">
			<div class="container">
				<div class="row">
					<div class="col col-lg-8 col-sm-9 slide-caption">
						<h2>Energy delivered. <span>Less time.</span> Less wait.</h2>
						<p>Our team meet rigorous product requirements for global customers.</p>
						<div class="btns">
							<a href="#" class="theme-btn">View our products</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>