<section class="section-padding offer-section offer-section_dark">
	<div class="container">
		<div class="row">
			<div class="col col-md-5">
				<div class="section-title">
					<h2>Our Team</h2>
				</div>
				<div class="offer-text">
					<p class="index__text  index__text-team">With three locations in three different countries, our staff is a diverse team of experts in the areas of design, engineering, R&D, Quality, testing, and sales - each with high education, quality, and skill levels.  Together, we comprise a strong, innovative force, serving the market with a culture of ethics, values, and integrity.</p>
					<a href="#" class="theme-btn_light read-more">Read More</a>
				</div>
			</div>
			<div class="col col-md-7">
				<div class="offer-pic  index__imgWrap">
					<img src="assets/images/teee/teee-team.png" alt>
				</div>
			</div>
		</div> <!-- end row -->
	</div> <!-- end container -->
</section>