.b-formWrap {
    padding-bottom: 50px !important;
}

.b-form {
    margin-top: 20px !important;

    font-size: 1rem;

    .b-form__input,
    .b-form__area {
        border-radius: 10px;

        font-size: 1em;
        line-height: 1.1;
    }

    .b-form__area {
        resize: none;

        overflow: auto;
    }
}

.b-form__label {
    color: #5b6a75;
}

.b-form__area {
    & + .b-form__label {
        top: 10px;
        transform: none;
    }
}

.b-form__inputWrap {
    margin-bottom: 20px !important;
}

.b-formWrap__text {
    margin-bottom: 0;
}