.b-index h2,
.b-index h1,
.b-index h3 {
    text-transform: none;
}

.certification {
    background-image: url("../images/teee/certif-section.jpg") !important;
    background-position: 50% -58.9333px;
    background-size: cover;
}

.index__vidLink {
    padding-top: 5% !important;

    &::before {
        top: calc(50% - 40px);
    }
}

.index__imgWrap {
    padding-top: 4.5%;
}

.factorySlider__overLink {
    opacity: 0;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 11;

    color: #fff;

    transition: .3s;

    display: flex;
    justify-content: center;
    align-items: center;

    .factorySlider__heading {
        color: #fff;
    }
}

.factorySlider__item:hover .factorySlider__overLink {
    opacity: 1;
}

.factorySlider__imgWrap {
    height: 360px;

    img {
        height: 100%;
    }
}

.index__text {
    padding-bottom: 30px;

    &-team {
        color: #fff;
    }
}

.b-heading-aboutUs {
    text-align: center;

    &::after {
        left: 50%;
        transform: translateX(-50%);
    }
}

.b-index__aboutUsText {
    text-align: center;
}

.index__iconList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    margin-top: 20px;
}

.index__iconItem {
    padding: 0 25px !important;
}

.index__icon {
    position: relative;

    &::after {
        content: "";
        display: block;

        width: 50px;
        height: 50px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background-repeat: no-repeat;

    }

    &-1 {
        &::after {
            background-image: url("../images/teee/industry.svg");
        }
    }

    &-2 {
        &::after {
            background-image: url("../images/teee/brain.svg");
        }
    }

    &-3 {
        &::after {
            background-image: url("../images/teee/cargo-ship.svg");
        }
    }

    &-4 {
        &::after {
            background-image: url("../images/teee/tower.svg");
        }
    }

    &-5 {
        &::after {
            background-image: url("../images/teee/ladder.svg");
        }
    }

    &-6 {
        &::after {
            
            background-image: url("../images/teee/support.svg");
        }
    }

}