.ourTeam__galSection {
    margin-bottom: 0;
    padding-bottom: 40px;
}

.ourTeam__gal {
    list-style: none;

    display: flex;
    flex-wrap: wrap;

}

.ourTeam__item {
    max-width: 299px;
    margin: 0 auto 30px;
    flex: 0 0 auto;
}

.b-ourTeam__slider {
    height: 280px !important;
}

.ourTeam__imgWrap {
    padding: 4% 0 0 10%;
}