<form class="contact-form form contact-validation-active row" id="contact-form-s2">

	<div class="col col-sm-6">
		<label class="required" for="f-name">First Name</label>
		<input type="text" class="form-control" id="f-name" name="f_name" required>
	</div>
	<div class="col col-sm-6">
		<label class="required" for="l-name">Last Name</label>
		<input type="text" class="form-control" id="l-name" name="l_name" required>
	</div>

	<div class="col col-sm-6">
		<label for="title">Title</label>
		<input type="text" class="form-control" id="title" name="title">
	</div>
	<div class="col col-sm-6">
		<label class="required" for="company">Company</label>
		<input type="text" class="form-control" id="company" name="company" required>
	</div>

	<div class="col col-sm-6">
		<label class="required" for="email">Email</label>
		<input type="email" class="form-control" id="email" name="email" required>
	</div>
	<div class="col col-sm-6">
		<label for="phone">Phone</label>
		<input type="text" class="form-control" id="phone" name="phone">
	</div>

	<div class="col col-sm-12">
		<label class="required" for="country">Country</label>
		<input type="text" class="form-control" id="country" name="country" required>
	</div>

	<div class="col col-sm-12">
		<label for="message">Comments</label>
		<textarea class="form-control" id="message" name="note"></textarea>
	</div>

	<div class="col col-sm-12 submit-btn">
		<button class="theme-btn">Submit</button>
		<div id="loader">
			<i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
		</div>
	</div>

	<div class="error-handling-messages">
		<div id="success">Thank you</div>
		<div id="error"> Error occurred while sending email. Please try again later. </div>
	</div>
</form>