<section class="page-title">
	<div class="container">
		<div class="row">
			<div class="col col-xs-12">
				<h2>About us</h2>
				<ol class="breadcrumb">
					<li><a href="index.html">Home</a></li>
					<li>About us</li>
				</ol>
			</div>
		</div> <!-- end row -->
	</div> <!-- end container -->
</section>