<footer class="site-footer">
	<div class="upper-footer">
		<div class="container">
			<div class="row">
				<div class="col col-md-3 col-sm-6">
					<div class="widget about-widget">
						<div class="footer-logo"><img src="assets/images/logo.png" alt></div>
						<ul class="contact-info">
							<li><i class="fa fa-home"></i> 555 Main St, Salt Lake City, UT 84101</li>
							<li><i class="fa fa-phone"></i> +1-(547)-257</li>
							<li><i class="fa fa-home"></i> Working Hours: <br>Mon-Fri (9 am - 8 pm)</li>
						</ul>
					</div>
				</div>

				<div class="col col-md-3 col-sm-6">
					<div class="widget service-links-widget">
						<h3>Services</h3>
						<ul>
							<li><a href="#">Agriculture Processing</a></li>
							<li><a href="#">Chemical Research</a></li>
							<li><a href="#">Metal Engineering</a></li>
							<li><a href="#">Mechanical Engineering</a></li>
							<li><a href="#">Petroleum &amp; Gas</a></li>
						</ul>
					</div>
				</div>

				<div class="col col-md-3 col-sm-6">
					<div class="widget quick-links-widget">
						<h3>Navigation</h3>
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">Service</a></li>
							<li><a href="#">Projects</a></li>
							<li><a href="#">Pricing</a></li>
							<li><a href="#">News</a></li>
						</ul>
						<ul>
							<li><a href="#">Gallery</a></li>
							<li><a href="#">Contact Us</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</div>
				</div>

				<div class="col col-md-3 col-sm-6">
					<div class="widget twitter-feed-widget">
						<h3>Twitter Feed</h3>
						<ul>
							<li>
								<div class="text">
									<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. Ed quia con sequuntur magni dolores.</p>
								</div>
								<div class="info-box">
									<i class="fa fa-twitter"></i>
									<strong><a href="#">@Mark Wahlberg</a></strong>
								</div>
							</li>
							<li>
								<div class="text">
									<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. Ed quia con sequuntur magni dolores.</p>
								</div>
								<div class="info-box">
									<i class="fa fa-twitter"></i>
									<strong><a href="#">@Mark Wahlberg</a></strong>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- end upper-footer -->
	<div class="copyright-info">
		<div class="container">
			<p>2017 &copy; All Rights Reserved by <a href="http://themeforest.net/user/themexriver">Themexriver</a></p>
		</div>
	</div>
</footer>