.site-header_rel {
	position: relative;
}

.site-logo_main {
	position: absolute!important;
	display: block;
	max-width: 390px!important;
	max-height: 170px;
	top: -90px;
	bottom: 0;
	margin: 0!important;
	transition: all .3s ease-out;

	@include media-query($medium) {
		max-width: 320px!important;
		bottom: -60px;
	}

	@include media-query($tablets) {
		position: static!important;
		height: auto;
		max-width: 260px!important;
		max-height: 100px;
		padding-left: 10px;
	}

	img {
		display: block;
		height: 100%;
		width: auto;
		max-width: 100%;
		margin: auto;
		margin-left: 0;
		object-fit: contain;
	}
}

.sticky-on .site-logo_main {
	top: 0;

	@include media-query($tablets) {
		max-height: 60px;
	}
}
