.video-player {
	@extend .video-pic;

	display: block;

	@include media-query($medium) {
		padding: 30px 0;

		&::after { content: none; }

		&::before {
			top: 50%;
			left: 50%;
			transform: translate3d(-50%, -50%, 0);
		}

		img {
			width: 100%;
		}
	}

	@include media-query($phones) {
		&::before {
			width: 50px;
			height: 50px;
			padding-left: 5px;
			border-width: 3px;
			font-size: 30px;
		}
	}
}
