/*------------------------------------------------------------------
[Master Stylesheet]
Theme Name: 	
Version:        1.0.0
Author:         themexriver
URL:            http://themeforest.net/user/themexriver
-------------------------------------------------------------------*/


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
#0.1	Theme Reset Style
#0.2	Global Elements
#0.3	header
#0.4	hero-slider
#0.5	footer
#0.6	services
#0.7	testimonials
#0.8    offer
#0.9    recent-projects
#1.0    about-us-faq
#1.1    partners
#1.2    partners
#1.3    news-section


---------------------------------------------------------------
	home style 2
----------------------------------------------------------------
#2.0    cta
#2.1    services s2
#2.2    our-team
#2.3    fun-fact
#2.4    cta-newsletter
#2.5    testimoials-s2-slider


---------------------------------------------------------------
	home style 3
----------------------------------------------------------------
#3.0    features
#3.1    services-s3
#3.2    pricing


---------------------------------------------------------------
	faq page
----------------------------------------------------------------
#4.0	faq-pg-section


---------------------------------------------------------------
	service single page
----------------------------------------------------------------
#5.0	service-singel-section


---------------------------------------------------------------
	contact page
----------------------------------------------------------------
#6.0	contact-pg-section


---------------------------------------------------------------
	blog grid page
----------------------------------------------------------------
#7.0	blog-grid section


---------------------------------------------------------------
	blog with sidebar page
----------------------------------------------------------------
#8.0	blog-with-sidebar


---------------------------------------------------------------
	blog details page
----------------------------------------------------------------
#9.0	blog-single-content


---------------------------------------------------------------
	shop grid page
----------------------------------------------------------------
#10.0	products-section


---------------------------------------------------------------
	shop with sidebar page
----------------------------------------------------------------
#11.0	shop-main-content


---------------------------------------------------------------
	shop details page
----------------------------------------------------------------
#12.0	products-section



----------------------------------------------------------------*/

// helpers
@import "helpers/variables";
@import "helpers/functions";
@import "helpers/mixins";

// base
@import "base/base";

// layout
/* @import "layout/header";
@import "layout/hero-slider";
@import "layout/footer"; */

@import "layout/**/*.scss";


// components
/* @import "components/sticky-header";
@import "components/typography";
@import "components/section-title";
@import "components/buttons";
@import "components/form";
@import "components/social-links";
@import "components/page-title";
@import "components/preloader";
@import "components/service-grids";
@import "components/dots-arrow-style";
@import "components/accordion";
@import "components/team-grids";
@import "components/service-single-sidebar";
@import "components/pagination";
@import "components/blog-sidebar.scss";
@import "components/products-grids.scss";
@import "components/shop-sidebar.scss"; */

@import "components/**/*.scss";

// page
/* @import "page/home-default";
@import "page/home-style2";
@import "page/home-style3";
@import "page/faq";
@import "page/service-single";
@import "page/project-single";
@import "page/contact";
@import "page/blog-grid";
@import "page/blog-with-sidebar";
@import "page/blog-details";
@import "page/shop";
@import "page/shop-with-sidebar";
@import "page/shop-details"; */


@import "page/**/*.scss";

