<header id="header" class="site-header header-style-5">
	<div class="topbar topbar-style-2">
		<div class="container">
			<div class="row">
				<div class="col col-sm-7">
					<div class="topbar-contact-info-wrapper">
						<div class="topbar-contact-info">
							<div>
								<i class="fa fa-location-arrow"></i>
								<div class="details">
									<p>5523 Research Park Drive, Suite 110</p>
								</div>
							</div>
							<div>
								<i class="fa fa-phone"></i>
								<div class="details">
									<p>+012 (3546) 547</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col col-sm-5">
					<div class="social">
						<span>Follow: </span>
						<ul class="social-links">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div> <!-- end container -->
	</div> <!-- end topbar -->

	<div class="lower-topbar">
		<div class="container">
			<div class="row">
				<div class="col col-sm-3">
					<div class="site-logo">
						<a href="index.html"><img src="assets/images/logo-2.png" alt></a>
					</div>
				</div>
				<div class="col col-sm-9">
					<div class="awards">
						<div>
							<div class="icon"><i class="fi flaticon-title"></i></div>
							<div class="award-info">
								<h4>Global Certified</h4>
								<p>ISO 9001:2016</p>
							</div>
						</div>
						<div>
							<div class="icon"><i class="fi flaticon-medal"></i></div>
							<div class="award-info">
								<h4>Winner</h4>
								<p>Construction award 2016</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end lower-topbar -->

	<nav class="navigation navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="open-btn">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="navbar" class="navbar-collapse collapse navigation-holder">
				<button class="close-navbar"><i class="fa fa-close"></i></button>
				<ul class="nav navbar-nav">
					<li class="menu-item-has-children">
						<a href="#">Home</a>
						<ul class="sub-menu">
							<li><a href="index.html">Home Style 1</a></li>
							<li><a href="index-2.html">Home Style 2</a></li>
							<li><a href="index-3.html">Home Style 3</a></li>
							<li><a href="index-4.html">Home Style 4</a></li>
							<li><a href="index-5.html">Home Style 5</a></li>
							<li><a href="index-6.html">Home Style 6</a></li>
							<li class="menu-item-has-children">
								<a href="#Level3">Thidr level</a>
								<ul class="sub-menu">
									<li><a href="#">Level3</a></li>
									<li><a href="#">Level3</a></li>
									<li><a href="#">Level3</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="about.html">About</a></li>
					<li><a href="services.html">Services</a></li>
					<li><a href="projects.html">Projects</a></li>
					<li class="menu-item-has-children">
						<a href="#">Pages</a>
						<ul class="sub-menu">
							<li><a href="service-single.html">Service single</a></li>
							<li><a href="project-single.html">Project single</a></li>
							<li><a href="shop.html">Shop</a></li>
							<li><a href="shop-sidebar.html">Shop with sidebar</a></li>
							<li><a href="shop-details.html">Shop single</a></li>
							<li><a href="testimonials.html">Testimonials</a></li>
							<li><a href="faq.html">FAQ</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a href="#">Blog</a>
						<ul class="sub-menu">
							<li><a href="blog.html">Blog grid</a></li>
							<li><a href="blog-right-sidebar.html">Blog right sidebar</a></li>
							<li><a href="blog-left-sidebar.html">Blog left sidebar</a></li>
							<li><a href="blog-details.html">Blog single</a></li>
						</ul>
					</li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div><!-- end of nav-collapse -->

			<div class="cart-contact">
				<div class="mini-cart">
					<button class="cart-toggle-btn"> <i class="fi flaticon-shopping-cart"></i> Cart (2) </button>

					<div class="top-cart-content">
						<div class="top-cart-title">
							<p>Shopping Cart</p>
						</div>
						<div class="top-cart-items">
							<div class="top-cart-item clearfix">
								<div class="top-cart-item-image">
									<a href="#"><img src="assets/images/shop/small/1.jpg" alt="Blue Round-Neck Tshirt"></a>
								</div>
								<div class="top-cart-item-des">
									<a href="#">Blue Round-Neck Tshirt</a>
									<span class="top-cart-item-price">$19.99</span>
									<span class="top-cart-item-quantity">x 2</span>
								</div>
							</div>
							<div class="top-cart-item clearfix">
								<div class="top-cart-item-image">
									<a href="#"><img src="assets/images/shop/small/6.jpg" alt="Light Blue Denim Dress"></a>
								</div>
								<div class="top-cart-item-des">
									<a href="#">Light Blue Denim Dress</a>
									<span class="top-cart-item-price">$24.99</span>
									<span class="top-cart-item-quantity">x 3</span>
								</div>
							</div>
						</div>
						<div class="top-cart-action clearfix">
							<span class="fleft top-checkout-price">$114.95</span>
							<a href="" class="theme-btn">View Cart</a>
						</div>
					</div>
				</div>
			</div>

			<a href="#" class="theme-btn-s2 request-quote">Request Quote</a>
		</div><!-- end of container -->
	</nav> <!-- end navigation -->
</header>