<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<!-- Plugins for this template -->
<script src="assets/js/jquery-plugin-collection.js"></script>
<script src="assets/js/jquery.mCustomScrollbar.js"></script>

<!-- Custom script for this template -->
<script src="assets/js/script.js"></script>