<section class="section-padding offer-section">
	<div class="container">
		<div class="row">
			<div class="col col-md-5">
				<div class="section-title-s3">
					<h2>Get full range of premium Industrial services for your business</h2>
				</div>                        
				<div class="offer-text">
					<p>Lorem ipsum dolor sit amet, consectetur adipisc ing elit, sed do eiusmod tempor inci didunt ut labore et dolore magna.</p>
					<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur</p>
					<a href="#" class="theme-btn read-more">Read More</a>
					<a href="#" class="theme-btn-s2 read-more">Company history</a>
				</div>
			</div>
			<div class="col col-md-7">
				<div class="offer-pic">
					<img src="assets/images/offer-pic.jpg" alt>
				</div>
			</div>
		</div> <!-- end row -->
	</div> <!-- end container -->
</section>